################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MindGames/obj/Release/net8.0
/.vs
/MindGames/.vs

.vs/ 
